* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}   

body {
    background-color: beige;
    padding-top: 70px;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

header { 
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

form {
    display: flex;
    max-width: 700px;
    justify-content: space-between;
    margin-bottom: 24px;
}

form input {
    font-size: 20px;
    background-color: white;
    padding: 8px;
}

form button {
    background-color: aquamarine;
    color: black;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 150%;
    font-weight: bold;
    box-sizing: border-box;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}